@import './base.css';

:root {
  /* colors */
  --main-page-background: #fbf8ec;
  --main-background: #f4f4f2;
  --main-on-background: #291e0f;
  --main-surface: #fff;
  --main-on-surface: #414141;
  --main-primary: #f63;
  --main-on-primary: #fff;
  --main-secondary: #70c05b;
  --main-on-secondary: #fff;
  --main-footer: #f9f4e2;
  --grayscale-lightest: #f3f2f1;
  --grayscale-light: #bfbfbf;
  --grayscale-hard: #8f8f8f;
  --grayscale-hardest: #606060;
  --pallete-success: #008c49;
  --pallete-info: #1cb9fc;
  --pallete-warning: #fca21c;
  --pallete-error: #d80000;

  /* shadows */
  --shadow-default-xs: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
  --shadow-default-s: 2px 4px 8px 0px rgba(0, 0, 0, 0.1);
  --shadow-default-m: 4px 8px 16px 0px rgba(0, 0, 0, 0.1);
  --shadow-default-l: 8px 16px 32px 0px rgba(0, 0, 0, 0.1);
  --shadow-default-xl: 16px 32px 64px 0px rgba(0, 0, 0, 0.1);
  --shadow-primary-xs: 1px 2px 4px 0px rgba(255, 102, 51, 0.2);
  --shadow-primary-s: 2px 4px 8px 0px rgba(255, 102, 51, 0.2);
  --shadow-primary-m: 4px 8px 16px 0px rgba(255, 102, 51, 0.2);
  --shadow-primary-l: 8px 16px 32px 0px rgba(255, 102, 51, 0.2);
  --shadow-primary-xl: 16px 32px 64px 0px rgba(255, 102, 51, 0.2);
  --shadow-secondary-xs: 1px 2px 4px 0px rgba(112, 192, 91, 0.2);
  --shadow-secondary-s: 2px 4px 8px 0px rgba(112, 192, 91, 0.2);
  --shadow-secondary-m: 4px 8px 16px 0px rgba(112, 192, 91, 0.2);
  --shadow-secondary-l: 8px 16px 32px 0px rgba(112, 192, 91, 0.2);
  --shadow-secondary-xl: 16px 32px 64px 0px rgba(112, 192, 91, 0.2);
}
